// Responsive screen size
$page-max-width: 1140px;
$desktop: 1200px;
$tablet: 768px;
$mobile-L: 425px;
$mobile-S: 320px;

// App colors
$primary: #00bbf9;
$secondary: #e5e5e5;
$success: #06d6a0;
$danger: #ef476f;
$info: #00f5d4;
$alert: #ffd166;

// Main colors
$dark-blue: #05386B;
$dark-green: #379683;
$accent-green: #5CDB95;
$light-green: #8EE4AF;
$light-yellow: #EDF5E1;
$bg-grey: #f6f6f6;